@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', Arial, sans-serif;
    margin: 0;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #0a152b;
    line-height: 1.8;
    letter-spacing: 0.01rem;
}

a {
    color: #001f5c;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}

h2 {
    text-align: center;
}

a:hover {
    font-weight: 800;
    text-decoration: underline;
}

/* Nav Bar */

.nav-bar {
    background-color: #001f5c;
    color: #81eef3;
    display: flex;
    grid-template-columns: 200px auto;
    flex-direction: column;
}

/*Nav Bar Links*/ 
.nav-menu a {
    color: #81eef3;   
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 1rem;
}


/* Sandwich Menu */
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/*Logo */
.logo {
    width: 100%;
}

#logo-container {
    margin: 1rem;
    width: 10rem;
}

.weather-section {
    background-color: #dddee0;
    text-align: center;
    margin: 0px;
    padding: 1rem;
}

/*Buttons and Boilerplates*/

.button {
    background-color: #001f5c;
    padding: 1rem;
    color: white;
    text-decoration: none;
    margin: 0.8rem;
}

.button:hover {
    background-color: #81eef3;
    color: #001f5c;
}

#learn-more-btn {
    border: #dddee0 solid;
    background-color: rgba(0,0,0,0)
} 

.chambers-highlight {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    list-style: none;
}

#discover-more, #become-member {
    text-align: center;
}

.card {
    border: #dddee0 solid;
    margin: 1rem auto;
    padding: 1rem;
}

.card-img {
    width: 100%;
}

.card h3 {
    margin: 0.7rem auto;
}

#become-member-img {
    width: 100%;
}

.event {
    background-color: #001f5c;
    color: white;
    padding: 0.5rem;
    margin: 1rem auto;
}

.event h3 {
    margin: 0;
}

.event p {
    margin: 0;
}

.footer {
    background-color: #001f5c;
    color: #81eef3;
    margin-bottom: 0;
}

#footer-logo {
    padding: 1rem;
    width: 20rem;
    margin: 0 auto;
}

.footer a {
    color: #81eef3;
    text-decoration: none;
}

.bottom-links {
    list-style: none;
}

.footer p {
    text-align: center;
}

