@media only screen and (min-width: 1300px) {
    
    .nav-bar {
        padding: 0.1rem 10rem;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        gap: 2rem;
        
        z-index: inherit;
        top: auto;
        left: auto;
        height: auto;
        overflow-x: visible;
        position: static;
        margin-top: auto;
    }

    #logo-container {
        width: 12rem;
    }

    .menu {
        display: none;
    }

   .content {
        padding: 0rem 10rem;
    }

    #chamber-stats {
        display: flex;
        justify-content: space-evenly;
    }

    #chamber-information {
        display: flex;
        margin: 1rem auto;
    }

    #discover-txt {
        width: 60%;
    }

    #discover-more {
        margin: auto;
    }
    
    .business-spotlight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .become-member {
        display: flex;
    }
    
    #become-member-content {
        margin: auto 1.2rem;
    }
    
    #become-member-content h2 {
        text-align: left;
        margin: 0;
    }

    footer{
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

    .bottom-links {
        flex-grow: 2;
        text-align: right;
    }

    #lastModified, #lastModified {
        margin-bottom: 0;
    }

    #discover {
        display: grid;
        grid-template-columns: 75% 25%;
    }

    #discover-sidebar {
        border-left: #dddee0 solid;
        /* margin: 8rem auto 8rem 1rem; */
        margin-left: 1rem;
        padding-left: 1rem;
    }

    #discover {
        margin-bottom: 5rem;
    }

    figure {
        margin: 10px 20px 30px;
    }
        
    .thumbex{
        width: 100%;
        min-width: 250px;
        max-width: 400px;
        height: 300px;
        flex: 1;
        overflow: hidden;
        outline: 2px solid white;
        outline-offset: -15px;
        background-color: #001f5c;
        box-shadow: 5px 10px 40px 5px rgba(0,0,0,0.5);
    }

    .thumbnail{
        overflow: hidden;
        min-width: 250px;
        height: 300px;
        opacity: 0.88;
        backface-visibility: hidden;
        transition: all 0.4s ease-out;
    }   
            
    .thumbnail:hover{
        backface-visibility: hidden;
        transform: scale(1.15, 1.15);
        opacity: 1;
    }

    figcaption{
        background: #001f5c;
        padding: 10px 50px;
        margin: 0 5%;
        color: white;
        font-weight: 300;
    }

    #joinus {
        padding: 0 10rem;
        grid-template-columns: 1fr 1fr;
    }

    #joinus-form {
        margin-right: 1.5rem;
    }
      
    #membership-sidebar {
        border-left: #dddee0 solid;
        margin-left: 1.5rem;
        padding-left: 1rem;
    }

    #directory {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 2rem;
        grid-column-gap: 2rem;
        margin-bottom: 1rem;
        padding-right: 10rem;
        padding-left: 10rem;
        padding-bottom: 4rem;
    }

    .sortby {
        padding-right: 10rem;
        margin: 1rem;
    }
}