@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', helvetica;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #0a152b;
    line-height: 1.8;
    letter-spacing: 0.01rem;
}

h1 {
    color: #81eef3;
    background-color: #001f5c;
    padding: 2rem;
}

p {
    max-width: 800px;
    margin: 0 auto;
}

#scenarios {
    max-width: 800px;
    margin: 0 auto;
}


h1, h2 {
    text-align: center;
    font-weight: bold;
}

.colors {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.primary {
    background-color: #001f5c;
    color: #81eef3;
}

.secondary {
    background-color: #81eef3;
}

.background {
    background-color: #f5f5f5;
}


.font-color {
    background-color: #0a152b;
    color: #81eef3;
}

a {
    color: #001f5c;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}
.wireframe {
    text-align: center;
}