@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', helvetica;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #0a152b;
}

h1 {
    color: white;
    background-color: #001f5c;
    padding: 2rem;
}


h1, h2 {
    text-align: center;
    font-weight: bold;
}

.colors {
    width: 100%;
    max-width: 600px;
    margin: auto 0;
    text-align: center;
}


#font-text {
    text-align: center;
}

.wireframe {
    text-align: center;
}