@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #323232;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

nav {
    display: flex;
    align-items: center;
    background-color: #DDD0C8;
    padding: 0.7rem;
    flex-direction: column-reverse;
}

nav a {
    padding: 1em;
    text-decoration: none;
    color: #323232;
}

nav a:hover {
    text-decoration: underline;
    color: #323232;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0px;
}

main {
    max-width: 760px;
    margin: 1rem auto;
    padding: 1rem;
}

#profile-img{
    width: 100px;
    margin-right: 1rem;
    box-shadow: 10px 5px 5px white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: #323232;
    color: white;
    padding: 1em ;
}

#name {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #DDD0C8;
    padding: 1rem;
}

.card {
    border: solid 0.1em #323232;
}

.card h3 {
    text-align: center;
    background-color: #323232;
    color: white;
    padding: 0.5em;
    margin: 0px;
}

#title {
    text-align: center;
}

.card-content {
    margin: .5em;
}